/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background-color: #18181a;
}

.btn-yellow {
  color: #fafafa;
  font-weight: 600;
  background-color: #fe9800;
}

  .btn-yellow:hover {
    background-color: #ffb630;
    color: #fafafa;
  }

  .btn-yellow:disabled {
    background-color: #ffb630;
    border: none;
    color: #fafafa;
  }

.packingForm select {
  background-color: #333333 !important;
  color: #fafafa !important;
  border: none;
  cursor: pointer;
  box-shadow: none !important;
}

.packingForm input {
  background-color: #333333;
  color: #fafafa;
  border: none;
}

  .packingForm input:focus {
    background-color: #424242;
    outline: none;
    border-color: none;
    box-shadow: none;
    color: #fafafa;
  }

  .packingForm input:disabled {
    background-color: #333333;
    color: #fafafa;
  }

  .input-group-text {
    background-color: #333333 !important;
    color: #fafafa;
    border: none !important;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
