/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background-color: #18181a;
}

.btn-yellow {
  color: #fafafa;
  font-weight: 600;
  background-color: #fe9800;
}

  .btn-yellow:hover {
    background-color: #ffb630;
  }

  .btn-yellow:disabled {
    background-color: #ffb630;
    border: none;
    color: #fafafa;
  }

.packingForm input {
  background-color: #333333;
  color: #fafafa;
  border: none;
}
