
 <div class="container-fluid">
  <div class="row">
   <div class="d-flex justify-content-center mt-5">
                <img src="../../assets/logo.png" alt="App Logo" class="app-logo">
            </div>
    <div class="col-md-6">
      <form class="p-5 packingForm" [formGroup]="packingForm" (ngSubmit)="submitForm()">
                <h4 class="text-light mb-2">Choose a Sample Size Shipping Box</h4>

                <div class="form-group">
                    <label for="weight" class="text-light my-2">Weight</label>
                    <!-- Weight dropdown -->
                    <select class="form-control" id="weight" formControlName="weightLimit" (change)="onWeightSelected()">
                        <option value="">-- Select Weight Limit --</option>
                        <option *ngFor="let weightLimit of sampleParcelWeights" [value]="weightLimit">{{ weightLimit }}kg</option>
                    </select>
                      <div class="text-danger" *ngIf="showWeightError">
                                Please select a parcel/box weight before adding an item.
                      </div>
                </div>

                <div formArrayName="items">
                    <div class="item-group" *ngFor="let itemGroup of items.controls; let i = index" [formGroupName]="i">
                        <div class="form-row w-50 mt-4">
                            <div class="col">
                                <div class="form-group">
                                    <label class="text-light" for="selectedItem">Select Item:</label>
                                    <select class="form-control" formControlName="index" (change)="onWeightSelected()">
                                        <option [ngValue]="null">-- Select Item --</option>
                                        <option *ngFor="let option of itemsByWeight[packingForm.get('weightLimit')?.value]" [ngValue]="option.value">
                                            {{ option.label }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <label class="text-light">Weight</label>
                                <input type="text" class="form-control" formControlName="weight" [value]="selectedItem?.weight || ''" readonly>
                            </div>
                            <div class="col">
                                <label class="text-light">Cost</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="cost" [value]="selectedItem?.cost || ''" readonly>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                 <button type="button" class="btn btn-yellow py-2 my-4 w-100" (click)="addItemToParcel(selectedItem)">Add to Parcel</button>
                            </div>
                        </div>
                
                    </div>
                </div>

        <button class="btn btn-yellow py-2 my-2" *ngIf="!isParcelSelected" type="button" (click)="addItem()">Add Item</button>

                    <!-- Display weight limit error message -->
<!--            <div *ngIf="showWeightLimitError" class="error-message">
              Maximum weight limit exceeded.
            </div>-->

            <!-- Display cost limit error message -->
    <!--        <div *ngIf="showCostLimitError" class="error-message">
              Maximum cost limit exceeded.
            </div>
-->
        <button class="btn btn-yellow w-100" type="submit" [disabled]="!packingForm.valid || items.length === 0">Submit</button>
    
      </form>
    </div>
    <div class="col-md-6">
            <h4 class="text-light mb-2 p-5">Your Selection:</h4>
             <div>
  <div class="selected-item d-flex flex-row" *ngFor="let selectedItem of selectedItemsList" >
    <p class="text-light mb-2 px-5">{{ selectedItem.name }}</p>
    <div (click)="removeItem(selectedItem)">
     <img src="../../assets/close.png" alt="Remove Item" class="remove-button">
     </div>
  </div>
</div>

    </div>
  </div>
</div>
