<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center mt-5">
                <img src="../../assets/logo.png" alt="App Logo" class="app-logo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="p-5 packingForm" [formGroup]="packingForm" (ngSubmit)="submitForm()">
                <h2 class="text-light mb-4">Enter Parcel Details</h2>

                <div class="form-group">
                    <label for="weight" class="text-light">Weight</label>
                    <input type="number" class="form-control" id="weight" placeholder="Enter weight" formControlName="weightLimit">
                </div>

                <div class="form-group">
                    <label for="items">Items:</label>
                    <div formArrayName="items">
                        <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-group">
                            <input type="number" formControlName="weight" class="form-control mr-2" placeholder="Weight">
                            <input type="number" formControlName="cost" class="form-control mx-2" placeholder="Cost">
                            <button type="button" (click)="removeItem(i)" class="btn btn-yellow">Remove</button>
                        </div>
                    </div>
                    <button type="button" (click)="addItem()" class="btn btn-yellow py-2 my-2">Add Item</button>
                </div>

                <button type="submit" [disabled]="!packingForm.valid" class="btn btn-yellow">Submit</button>
            </form>
        </div>
    </div>
</div>
